name: CI

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

# Concurrency ensures that only a single job or workflow using the same concurrency group will run at a time.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  dev:
    name: Run fmt, clippy and check
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - uses: lukka/get-cmake@latest
      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.GIT_ACTION_BOT }}
        run: git config --global url."https://${TOKEN}@github.com/".insteadOf "https://github.com/"
      - name: Install `rust` toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.61.0
          default: true
          profile: minimal
          components: clippy
      - uses: Swatinem/rust-cache@v1
      - name: Cache cargo registry
        uses: actions/cache@v2
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry
            ~/.cargo/git
            target/
          key: cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
                        cargo-
      - name: Run format
        env:
          RUSTFLAGS: -Dwarnings
          RUST_BACKTRACE: "1"
          LOG_LEVEL: INFO
          EXTRA_CARGO_ARGS: --no-run
        working-directory: ./
        run: |
          cargo fmt --check
      - name: Run clippy
        env:
          RUSTFLAGS: -Dwarnings
          RUST_BACKTRACE: "1"
          LOG_LEVEL: INFO
          EXTRA_CARGO_ARGS: --no-run
        working-directory: ./
        run: |
          cargo clippy
      - name: Run check
        env:
          RUSTFLAGS: -Dwarnings
          RUST_BACKTRACE: "1"
          LOG_LEVEL: INFO
          EXTRA_CARGO_ARGS: --no-run
        working-directory: ./
        run: |
          cargo check
      - name: Setup tikv instance
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://tiup-mirrors.pingcap.com/install.sh | sh
          /home/runner/.tiup/bin/tiup playground nightly --mode tikv-slim --without-monitor &
      - name: Setup tikv-service
        run: |
          cargo build
          ./target/debug/tikv-service-server --config="config.toml" &
      - name: Setup test tool env
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'
          cache: 'pip'
      - name: Setup test tool dependency
        working-directory: test
        run: pip install -r requirements.txt
      - name: Run E2E test
        working-directory: test
        run: python test_helper.py --port 6666
